@charset: "UTF-8";

/* Outras medias queries */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
        height: 300px;
    }
    section#login > div#left-image {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#right-form {
        float: right;
        width: 70%;
    }
    div.campo {
        margin: 5px 0px;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 950px;
        height: 350px;
    }
    section#login > div#left-image {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#rigth-form {
        float: left;
        width: 50%;
        height: 100%;
    }
    div#right-form > h1 {
        text-align: center;
        font-size: 2em;
    }
    div#right-form > p {
        text-align: justify;
        font-size: 1.2em;
    }
}

